.btn-instagram {
    background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
    border-color: transparent;
    color: white;
}

.btn-instagram:hover {
    color: white;
    transition: all 0.5s ease;
    transform: scale(1.1);
    box-shadow: 3px 3px 10px #E1306C;
}

#facebook:hover {
    background-color: var(--color-azul);
    color: white;
    transition: all 0.5s ease;
    transform: scale(1.1);
    box-shadow: 3px 3px 10px var(--color-azul);
}

:root {
    --color-azul: #088ed8;
    --color-blanco: #eef8f7;
    --color-negro: #080809;
}


.navbar-nav .nav-link {
    padding: 1rem;
    font-size: 20px;
    margin-right: 20px;
}

.navbar-nav .nav-link:hover {
    transition: all 1s ease;
    transform: scale(1.2);
    color: var(--color-azul);
}

/* Desactivar escala en el navbar en dispositivos móviles */
@media (max-width: 991.98px) {
    .navbar-nav .nav-link {
        transition: none !important;
        /* Desactiva la transición */
        transform: none !important;
        /* Desactiva la transformación */
    }
}

#logo:hover {
    transition: all 0.5s ease;
    transform: scale(1.1);
}

header {
    background-color: white;
}

main {
    background: linear-gradient(to top, var(--color-azul), white);
    margin: 0;
    padding: 0;
}


.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: grey;
    border-radius: 50%;
}

.carousel-container {
    max-width: 500px;
    display: flex;
    justify-content: center;
}

.carousel-inner .carousel-item img {
    max-width: 500px;
    max-height: 650px;
    height: auto;
    margin: 0 auto;
    /* Centra horizontalmente la imagen */
}

@media (max-width: 576px) {
    .carousel-inner .carousel-item img {
        max-width: 100%;
        /* El carrusel ocupa el ancho completo en dispositivos pequeños */
    }

    #quienessomos {
        width: 95%;
    }
}


.card-body .titulo_espectaculo {
    text-decoration: none;
}

.card-body .titulo_espectaculo h5 {
    color: var(--color-azul);
    transition: all 0.3s;
}

.card-body .titulo_espectaculo h5:hover {
    transform: scale(1.05);
    transform-origin: left;
    /* Establece el punto de origen de la transformación */
}

.celda {
    transition: all 0.3s;
}

.celda:hover {
    transform: scale(1.01);
}

/* QUIENES SOMOS STYLE */

.section {
    padding: 50px 0;
}

.section-content {
    font-size: 1.1rem;
    line-height: 1.6;
}

.achievement {
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.achievement-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.achievement-description {
    font-size: 1.1rem;
}

.achievement-description li {
    margin: 1rem;
}

/* Contacto Style */

.contact-section {
    padding: 60px 0;
}

.contact-card {
    background: #fff;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.contact-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.contact-card h3 {
    font-size: 1.75rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.contact-card p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.btn-social img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.btn-social:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.btn-phone {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    display: inline-block;
    margin-top: 10px;
}

.btn-phone:hover {
    background-color: #218838;
    transform: translateY(-2px);
}

.iframe-container {
    border: 0;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-item .nav-link {
    font-size: 1.2rem;
    font-weight: 500;
    color: #555;
    transition: all 0.3s;
}

.navbar-nav .nav-item .nav-link:hover {
    scale: 1.1;
    color: #007bff;
}

.navbar .btn-social-nav {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    transition: transform 0.3s;
}

.navbar .btn-social-nav img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.navbar .btn-social-nav:hover {
    transform: translateY(-2px);
}

/* POMPHANG */

.pomphang .content-container {
    padding: 60px 0;
}

.pomphang .content-container h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 40px;
}

.pomphang .content-container p {
    font-size: 1.3rem;
    color: #555;
    line-height: 1.6;
}

.pomphang .thumbnail-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.pomphang .thumbnail {
    width: calc(25% - 10px);
    cursor: pointer;
}

.pomphang .thumbnail img {
    width: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.pomphang .thumbnail img:hover {
    transform: scale(1.1);
}

.pomphang .modal-dialog {
    max-width: 50vw;
    /* Aumenta el tamaño máximo del modal */
    margin: 1.75rem auto;
}

.pomphang #modalCarousel .carousel-inner .carousel-item img {
    max-height: 90vh;
    /* Aumenta la altura máxima de las imágenes en el modal */
    max-width: 100%;
    /* Ajusta el ancho máximo de las imágenes */
    margin: 0 auto;
    /* Centra las imágenes horizontalmente */
}



/* Estilos para la vista móvil */
@media (max-width: 768px) {
    .pomphang .desktop-only {
        display: none;
    }
}

/* Estilos para la vista de escritorio */
@media (min-width: 769px) {
    .pomphang .mobile-only {
        display: none;
    }
}

.pomphang .side-image {
    max-width: 70%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 2rem;
    margin-top: -40px;
    margin-left: 2rem;
}

/* DECORACION */

.decoracion .content-container {
    padding: 60px 0;
}

.decoracion .content-container h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 40px;
}

.decoracion .content-container p {
    font-size: 1.3rem;
    color: #555;
    line-height: 1.6;
}

.decoracion .thumbnail-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.decoracion .thumbnail {
    width: calc(25% - 10px);
    cursor: pointer;
}

.decoracion .thumbnail img {
    width: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.decoracion .thumbnail img:hover {
    transform: scale(1.1);
}

.decoracion .modal-dialog {
    max-width: 50vw;
    /* Aumenta el tamaño máximo del modal */
    margin: 1.75rem auto;
}

.decoracion #modalCarousel .carousel-inner .carousel-item img {
    max-height: 90vh;
    /* Aumenta la altura máxima de las imágenes en el modal */
    max-width: 100%;
    /* Ajusta el ancho máximo de las imágenes */
    margin: 0 auto;
    /* Centra las imágenes horizontalmente */
}



/* Estilos para la vista móvil */
@media (max-width: 768px) {
    .decoracion .desktop-only {
        display: none;
    }
}

/* Estilos para la vista de escritorio */
@media (min-width: 769px) {
    .decoracion .mobile-only {
        display: none;
    }
}

/* BURBRUJA */

.burbruja .content-container {
    padding: 60px 0;
}

.burbruja .content-container h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 40px;
}

.burbruja .content-container p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
}

.burbruja .thumbnail-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.burbruja .thumbnail {
    width: calc(25% - 10px);
    cursor: pointer;
}

.burbruja .thumbnail img {
    width: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.burbruja .thumbnail img:hover {
    transform: scale(1.1);
}

.burbruja .modal-dialog {
    max-width: 50vw;
    /* Aumenta el tamaño máximo del modal */
    margin: 1.75rem auto;
}

.burbruja #modalCarousel .carousel-inner .carousel-item img {
    max-height: 90vh;
    /* Aumenta la altura máxima de las imágenes en el modal */
    max-width: 100%;
    /* Ajusta el ancho máximo de las imágenes */
    margin: 0 auto;
    /* Centra las imágenes horizontalmente */
}

.burbruja .video-container {
    margin: 30px 0;
}

@media (max-width: 576px) {
    .burbruja iframe {
        width: 90%;
    }
}

/* Estilos para la vista móvil */
@media (max-width: 768px) {
    .burbruja .desktop-only {
        display: none;
    }
}

/* Estilos para la vista de escritorio */
@media (min-width: 769px) {
    .burbruja .mobile-only {
        display: none;
    }
}

/* PASACALLES */

.pasacalles .content-container {
    padding: 60px 0;
}

.pasacalles .content-container h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 40px;
}

.pasacalles .content-container p {
    font-size: 1.3rem;
    color: #555;
    line-height: 1.6;
}

.pasacalles .thumbnail-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.pasacalles .thumbnail {
    width: calc(25% - 10px);
    cursor: pointer;
}

.pasacalles .thumbnail img {
    width: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.pasacalles .thumbnail img:hover {
    transform: scale(1.1);
}

.pasacalles .modal-dialog {
    max-width: 50vw;
    /* Aumenta el tamaño máximo del modal */
    margin: 1.75rem auto;
}

.pasacalles #modalCarousel .carousel-inner .carousel-item img {
    max-height: 90vh;
    /* Aumenta la altura máxima de las imágenes en el modal */
    max-width: 60%;
    /* Ajusta el ancho máximo de las imágenes */
    margin: 0 auto;
    /* Centra las imágenes horizontalmente */
}



/* Estilos para la vista móvil */
@media (max-width: 768px) {
    .pasacalles .desktop-only {
        display: none;
    }
}

/* Estilos para la vista de escritorio */
@media (min-width: 769px) {
    .pasacalles .mobile-only {
        display: none;
    }
}

/* GLOBOLOGIA */

.globologia .content-container {
    padding: 60px 0;
}

.globologia .content-container h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 40px;
}

.globologia .content-container p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
}

.globologia .thumbnail-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.globologia .thumbnail {
    width: calc(25% - 10px);
    cursor: pointer;
}

.globologia .thumbnail img {
    width: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.globologia .thumbnail img:hover {
    transform: scale(1.1);
}

.globologia .modal-dialog {
    max-width: 50vw;
    /* Aumenta el tamaño máximo del modal */
    margin: 1.75rem auto;
}

.globologia #modalCarousel .carousel-inner .carousel-item img {
    max-height: 90vh;
    /* Aumenta la altura máxima de las imágenes en el modal */
    max-width: 100%;
    /* Ajusta el ancho máximo de las imágenes */
    margin: 0 auto;
    /* Centra las imágenes horizontalmente */
}

.globologia .video-container {
    margin: 30px 0;
}

@media (max-width: 576px) {
    .globologia iframe {
        width: 90%;
    }
}

/* Estilos para la vista móvil */
@media (max-width: 768px) {
    .globologia .desktop-only {
        display: none;
    }
}

/* Estilos para la vista de escritorio */
@media (min-width: 769px) {
    .globologia .mobile-only {
        display: none;
    }
}

/* REDES SOCIALES STYLE */

.redes-container {
    max-width: 1000px;
    /* Ancho máximo del contenedor */
    margin: auto;
    /* Centra el contenedor */
    padding: 20px;
    background-color: #fff;
    /* Color de fondo */
    border-radius: 20px;
    /* Bordes redondeados */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    /* Sombra */
}

.page-redes-sociales h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 40px;
}

.page-redes-sociales .iframe-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    /* 16:9 Aspect Ratio */
    overflow: hidden;
}

.page-redes-sociales .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

@media (max-width: 576px) {
    .page-redes-sociales h2 {
        font-size: 2rem;
    }

    .page-redes-sociales .iframe-container {
        padding-bottom: 100%;
        /* Adjust the padding-bottom for a more square-like aspect ratio on mobile */
    }
}


/* QUE HACEMOS STYLE */

.card {
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.page-que-hacemos .image-container {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    border-radius: 8px;
}

.page-que-hacemos .image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s;
}

.page-que-hacemos .image-container img.active {
    opacity: 1;
}

.page-que-hacemos .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
}

.page-que-hacemos .card {
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.page-que-hacemos .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.page-que-hacemos .celda {
    margin-bottom: 30px;
}

.page-que-hacemos .container h2 {
    margin-bottom: 40px;
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
}

.page-que-hacemos .modal-lg {
    max-width: 80%;
}

@media (max-width: 576px) {
    .page-que-hacemos .modal-lg {
        max-width: 95%;
    }
}

.page-que-hacemos .card {
    width: 100%;
    max-width: 350px;
}

.page-que-hacemos .modal-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background: linear-gradient(to top, var(--color-azul), white);
}

.page-que-hacemos .modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem);
}